<header class="col-md-8 col-md-offset-2">

 <main id="mainmain" class="col-md-8 col-md-offset-2">
<div class="text-center">
<% if current_user.trips.count > 0 %>
 <a id="NewTrip" class="btn btn-default btn-lg btn-success" href="/trips/new">&nbsp;&nbsp;&nbsp;Go for A Drive&nbsp;&nbsp;&nbsp;</a>
<% end %>
</div>

</header>
<div class="spacer-sm"></div>
<div id="statBar" class="col-md-8 col-md-offset-2 table-responsive  contextual-interest">
   <% @vehicles.each do |vehicle| %>
   <!--% @current_user.vehicles.last do %-->
    <table class="col-md-5 col-md-offset-2 col-xs-8 table">
     <tr class="col-md-8 col-md-offset-2"><h3 class="text-left col-md-offset-2">Driving Stats</h3></tr>
     <tr>
      <td class="stat"><i class=""><%= vehicle.trips.count %></i>&nbsp;<strong>Trips</strong></td>
      <td class="stat"><i class="t"><%= vehicle.total_miles_yearly(Time.current.year) %></i>&nbsp;<strong>Miles</strong></td>
      <td class="stat">&nbsp;<i class="text-interest"><%= number_to_currency vehicle.running_rate(Time.current.year) %></i>&nbsp;<strong>savings</strong></td>
     </tr>
    </table>
   <% end %>
</div>

 <% if current_user.vehicles.count < 1 and current_user.jobs.count < 1 %>
   <div class="col-md-6 col-md-offset-3 text-center">
    <div class="panel panel-default text-center ">
    <div class="panel-heading"><h3 class="panel-title"></h3></div>
   <div id="triggerModal" class="modalDialog">
    <div class="text-center">
     <h3 class="panel-title"><a href="#triggerModal" title="Close" class="close"></a></h3>
     <h2 class="screen-title text-center">Welcome to Tax Trax</h2>
     <h5 class="text-center">
       <p>To get started you need to</p>
       <a class="btn btn-success" href="/vehicles/new">Add A New Vehicle</a>
       and
       <a class="btn btn-success" href="/jobs/new">Add A New Job</a>
     </h5>
    </div>
   </div>
    </div>
   </div>
  <% end %>

<% if current_user.jobs.count == 0 and current_user.vehicles.count >= 1  %>
 <div class="col-md-6 col-md-offset-3 text-center">
    <div class="panel panel-default text-center ">
    <div class="panel-heading"><h3 class="panel-title"></h3></div>
   <div id="triggerModal" class="modalDialog">
    <div class="text-center">
     <h3 class="panel-title"><a href="#triggerModal" title="Close" class="close"></a></h3>
     <h2 class="screen-title text-center">No job entered</h2>
     <h5 class="text-center">
       To continue your <strong>Tax Trax</strong> setup you still need to
       <div class="spacer-mic"></div>
       <a class="btn btn-success" href="/jobs/new">Add A Job</a>
     </h5>
    </div>
   </div>
    </div>
   </div>
<% end %>


<% if current_user.vehicles.count == 0 and current_user.jobs.count >= 1   %>
 <div class="col-md-6 col-md-offset-3 text-center">
    <div class="panel panel-default text-center ">
    <div class="panel-heading"><h3 class="panel-title"></h3></div>
   <div id="triggerModal" class="modalDialog">
    <div class="text-center">
     <h3 class="panel-title"><a href="#triggerModal" title="Close" class="close"></a></h3>
     <h2 class="screen-title text-center">No vehicle entered</h2>
     <h5 class="text-center">
       To continue your <strong>Tax Trax</strong> setup you still need to
       <div class="spacer-mic"></div>
       <a class="btn btn-success" href="/vehicles/new">Add A Vehicle</a>
     </h5>
    </div>
   </div>
    </div>
   </div>
<% end %>

<hr>
 <h3 class="screen-title col-md-6 col-md-offset-3 text-left">Driving Log</h3> <!-- col-md-offset-2 -->
 <div class="mainly text-center">
 <% if current_user.trips.count < 1 %>
  <div class="col-md-8 col-md-offset-2 text-center">
    <div class="panel panel-default text-center">
    <div class="panel-heading"><h3 class="panel-title"></h3></div>
   <div id="triggerModal" class="modalDialog">
    <div class="text-center">
     <h3 class="panel-title"><a href="#triggerModal" title="Close" class="close"></a></h3>
     <h2 class="screen-title text-center">No trips yet entered</h2>
     <h5 class="text-center">
     This is where your list of trips will show up once you have done the inital set up and make some trips.
     <%- if current_user.vehicles.count > 0 && current_user.jobs.count > 0 %>
       <div class="spacer-mic"></div>
       <a id="NewTrip" class="btn btn-default btn-lg btn-success" href="/trips/new">+ New Trip</a>
     <% end -%>
     </h5>
    </div>
   </div>
    </div>
   </div>
   </div>
   <% end %>



  <div class="col-md-6 col-md-offset-3 text-center"><%= paginate @trips %></div>

  <% @trips.each do |trip| %>
   <dl>
   <div class="col-md-6 col-md-offset-3 isotope-item text-left">
   <div class="panel panel-default">
    <div class="spacer-sm"></div>
    <dd class="shower"><p><strong><%= trip.vehicle.make_model %></strong>&nbsp;driven for&nbsp;<strong><%= trip.job.name %></strong></p>
    </dd>
    <dd class="shower"><p><strong><i class="text-interest"><%= number_to_currency trip.rebate %></i></strong>&nbsp; saved on <strong><i class="text-interest"><%= trip.miles %></i></strong>&nbsp;miles</p>
    </dd>
    <br>

    <%= link_to 'Edit', "/trips/#{trip.id}/edit", :class => 'btn btn-default btn-xs' %>
    <%= link_to 'Destroy', "/trips/#{trip.id}", method: :delete, :class => 'btn btn-default btn-xs' %>
    <div class="spacer-mic"></div>
    </div>
    <br>

    </dl>
  <% end %>
 </div>
 </div>
</main>
