<header>
    <nav class="main-nav">
      <ul>
        <li class="nav-left">
          <a><%= link_to "Sign Out", destroy_user_session_path, :method =>"delete" %></a>
          <!--a class ="back" href="#">Sign Out</a-->
        </li>
        <li class="nav-center">
          <h1 class="screen-title">
            Main Menu
          </h1>
        </li>
        <li class="nav-right"></li>
      </ul>
    </nav>
  </header>

 <div id="triggerModal" class="modalDialog">
   <div>
     <a href="#triggerModal" title="Close" class="close">X</a>
     <h2>Welcome to Tax Trax</h2>
     <ol>
       <li>Add a <%= link_to('vehicle', new_vehicle_path) %>  to your profile. You can add additional vehicles by selecting "Vehicle Info" on the main menu.</li>
       <li>Add your <%= link_to('job', new_job_path) %>  to your profile. You can add additional jobs by selecting "Job Info" on the main menu.</li>
     </ol>
   </div>
  </div>

<main id="mainmain">

<div class="profiling">
 <div class="profilingLft">
   <%= image_tag "Morgoth.jpg", class: "profile-pic" %>
  </div>

  <div class="profilingRt">
  <div class="spam"></div>
  <h2>Morgoth</h2>
  <a id="NewTrip" class="btn btn-success btn-block" href="/trips/new">+ New Trip</a>
 </div>
</div>

<div id="profile_vehicle" class="panel panel-default">
 <div class="panel-heading"><strong class="main-table-title">Vehicles</strong><a class="btn btn-success main-table-add">+ New Vehicle</a></div>
  <hr>
  <table class="table">
  <thead>
    <tr>
      <th>Make</th>
      <th># of Trips</th>
      <th>Total Miles</th>
      <th></th>
    </tr>
  </thead>
  <% @vehicles.each do |vehicle| %>
  <tbody>
    <tr>
      <td><%= vehicle.make_model %></td>
      <td><%= vehicle.trips.count %></td>
      <td><%= vehicle.total_miles(Date.today.year) %></td>
      <td><div class="btn-group">
       <%= link_to icon('search-plus'), vehicle, class: "btn btn-primary btn-sm" %>
       <%= link_to icon('edit'), edit_vehicle_path(vehicle), class: "btn btn-warning btn-sm" %>
       <%= link_to icon('trash-o'), vehicle, method: :delete, class: "btn btn-danger btn-sm" %>
  </div></td>
    </tr>
  </tbody>
   <% end %>
  </table>
 </div>

<hr>

<div id="profile_job" class="panel panel-default">
 <div class="panel-heading"><strong class="main-table-title">Jobs</strong><a class="btn btn-success main-table-add">+ New Job</a></div>
  <hr>
  <table class="table">
  <thead>
    <tr>
      <th>Company</th>
      <th># of Trips</th>
      <th>Total Miles</th>
      <th></th>
    </tr>
  </thead>
  <% @jobs.each do |job| %>
  <tbody>
    <tr>
      <td><%= link_to "#{job.name}", job_url(job) %></td>
      <td><%= job.trips.count %></td>
      <td><%= job.total_miles %></td>
      <td><div class="btn-group">
       <%= link_to icon('search-plus'), job, class: "btn btn-primary btn-sm" %>
       <%= link_to icon('edit'), edit_job_path(job), class: "btn btn-warning btn-sm" %>
       <%= link_to icon('trash-o'), job, method: :delete, class: "btn btn-danger btn-sm" %>
  </div></td>
    </tr>
  </tbody>
   <% end %>
  </table>
 </div>

<ul id="mainmenuoptions">
  <li><a href="/my_trips">Driving Log</a></li>
  <li><a href="/disclaimer_filing">File for Taxes</a></li>
</ul>
</main>
