<header class="col-md-8 col-md-offset-2">
 <h3 class="text-center"><%= current_user.first_name.possessive %> Data</h3>
</header>

<div id="statBar" class="col-md-8 col-md-offset-2 table-responsive  contextual-interest">
   <% @vehicles.each do |vehicle| %>
   <!--% @current_user.vehicles.last do %-->
    <table class="col-md-5 col-md-offset-2 col-xs-8 table">
     <tr>
      <td class="stat"><i class=""><%= vehicle.trips.count %></i>&nbsp;<strong>Trips</strong></td>
      <td class="stat"><i class="t"><%= vehicle.total_miless %></i>&nbsp;<strong>Miles</strong></td>
      <td class="stat"><strong>$</strong>&nbsp;<i class="text-interest"><%= vehicle.rebaite_rate %></i>&nbsp;<strong>savings</strong></td>
     </tr>
    </table>
   <% end %>
</div>



 <% if current_user.vehicles.count < 1 and current_user.jobs.count < 1 %>
   <div class="col-md-6 col-md-offset-3 text-center">
    <div class="panel panel-default text-center ">
    <div class="panel-heading"><h3 class="panel-title"></h3></div>
   <div id="triggerModal" class="modalDialog">
    <div class="text-center">
     <h3 class="panel-title"><a href="#triggerModal" title="Close" class="close"></a></h3>
     <h2 class="screen-title text-center">Welcome to Tax Trax</h2>
     <h5 class="text-center">
       To get started you need to enter your <%= link_to('job', new_job_path) %> and <%= link_to('vehicle', new_vehicle_path) %> information.
     </h5>
    </div>
   </div>
    </div>
   </div>
   <% end %>

<% if current_user.jobs.count == 0 and current_user.vehicles.count >= 1  %>
   <div class="col-md-6 col-md-offset-3 text-center">
    <div class="panel panel-default text-center ">
    <div class="panel-heading"><h3 class="panel-title"></h3></div>
   <div id="triggerModal" class="modalDialog">
    <div class="text-center">
     <h3 class="panel-title"><a href="#triggerModal" title="Close" class="close"></a></h3>
     <h2 class="screen-title text-center">No job entered</h2>
     <h5 class="text-center">
       To get the most out of <strong>Tax Trax</strong> you still need enter a <%= link_to('job', new_job_path) %>
     </h5>
    </div>
   </div>
    </div>
   </div>
   <% end %>


<% if current_user.vehicles.count == 0 and current_user.jobs.count >= 1   %>
   <div class="col-md-6 col-md-offset-3 text-center">
    <div class="panel panel-default text-center ">
    <div class="panel-heading"><h3 class="panel-title"></h3></div>
   <div id="triggerModal" class="modalDialog">
    <div class="text-center">
     <h3 class="panel-title"><a href="#triggerModal" title="Close" class="close"></a></h3>
     <h2 class="screen-title text-center">No vehicle entered</h2>
     <h5 class="text-center">
       To get the most out of <strong>Tax Trax</strong> you still need enter a <%= link_to('vehicle', new_vehicle_path) %>
     </h5>
    </div>
   </div>
    </div>
   </div>
   <% end %>

<main id="mainmain" class="col-md-8 col-md-offset-2">

<div class="text-center">
<% if current_user.trips.count > 0 %>
 <a id="NewTrip" class="btn btn-default btn-lg btn-success" href="/trips/new">+ New Trip</a>
<% end %>
</div>


<hr>
 <h3 class="screen-title text-center">Driving Log</h3>
 <div class="mainly text-center">

 <% if current_user.trips.count < 1 %>
  <div class="col-md-8 col-md-offset-2 text-center">
    <div class="panel panel-default text-center">
    <div class="panel-heading"><h3 class="panel-title"></h3></div>
   <div id="triggerModal" class="modalDialog">
    <div class="text-center">
     <h3 class="panel-title"><a href="#triggerModal" title="Close" class="close"></a></h3>
     <h2 class="screen-title text-center">No trips yet entered</h2>
     <h5 class="text-center">
       <a id="NewTrip" class="btn btn-default btn-lg btn-success" href="/trips/new">+ New Trip</a>
     </h5>
    </div>
   </div>
    </div>
   </div>
   </div>
   <% end %>



  <%= paginate @trips %>
  <% @trips.each do |trip| %>
   <dl>
   <div class="col-md-6 col-md-offset-3 isotope-item">
   <div class="panel panel-default">
   <div class="panel-heading">
   </div>
    <dd class="shower"><p><strong><%= trip.vehicle.make_model %></strong>&nbsp;driven for&nbsp;<strong><%= trip.job.name %></strong></p>
    </dd>
    <dd class="shower"><p>$<strong><i class="text-interest"><%= trip.rebate %></i></strong>&nbsp; saved on <strong><i class="text-interest"><%= trip.miles %></i></strong>&nbsp;miles</p>
    </dd>
    <br>

    <%= link_to 'Edit', "/trips/#{trip.id}/edit", :class => 'btn btn-default btn-xs' %>
    <%= link_to 'Destroy', "/trips/#{trip.id}", method: :delete, :class => 'btn btn-default btn-xs' %>
    </div>
    <br>

    </dl>
  <% end %>
 </div>
 </div>
</main>
