<header class="col-md-8 col-md-offset-2">
 <h3 class="text-center"><%= current_user.first_name.possessive %> Data</h3>
</header>

<div id="statBar" class="col-md-8 col-md-offset-2 table-responsive    contextual-interest">
   <% @vehicles.each do |vehicle| %>
   <!--% @current_user.vehicles.last do %-->
    <table class="col-md-5 col-md-offset-2 col-xs-8 table">
     <tr>
      <td class="stat"><i class=""><%= vehicle.trips.count %></i>&nbsp;<strong>Trips</strong></td>
      <td class="stat"><i class="t"><%= vehicle.total_miless %></i>&nbsp;<strong>Miles</strong></td>
      <td class="stat"><strong>$</strong>&nbsp;<i class="text-interest"><%= vehicle.rebaite_rate %></i>&nbsp;<strong>savings</strong></td>
     </tr>
    </table>
   <% end %>
</div>


<% if current_user.sign_in_count == 1 %>
  <div id="triggerModal" class="modalDialog">
   <div>
     <a href="#triggerModal" title="Close" class="close">X</a>
     <h2>Welcome to Tax Trax</h2>
     <ol>
       <li>Add a <%= link_to('vehicle', new_vehicle_path) %>  to your profile. You can add additional vehicles by selecting "Vehicle Info" on the main menu.</li>
       <li>Add your <%= link_to('job', new_job_path) %>  to your profile. You can add additional jobs by selecting "Job Info" on the main menu.</li>
     </ol>
   </div>
  </div>
  <% end %>

<main id="mainmain" class="col-md-8 col-md-offset-2">

<div class="text-center">
 <a id="NewTrip" class="btn btn-default btn-lg btn-success" href="/trips/new">+ New Trip</a>
</div>

<div class="btn-group" role="group" id="mainmenuoptions">
  <!--button type="button" class="btn btn-default"><a href="/my_trips" class="btn btn-sm">Driving Log</a></button-->
</div>

<hr>
 <h3 class="screen-title text-center">Driving Log</h3>
 <div class="mainly text-center">


  <%= paginate @trips %>
  <% @trips.each do |trip| %>
   <dl>
   <div class="col-md-6 col-md-offset-3 isotope-item">
   <div class="panel panel-default">
   <div class="panel-heading">
   </div>
    <dd class="shower"><p><strong><%= trip.vehicle.make_model %></strong>&nbsp;driven for&nbsp;<strong><%= trip.job.name %></strong></p>
    </dd>
    <dd class="shower"><p>$<strong><i class="text-interest"><%= trip.rebate %></i></strong>&nbsp; saved on <strong><i class="text-interest"><%= trip.miles %></i></strong>&nbsp;miles</p>
    </dd>
    <br>

    <%= link_to 'Edit', "/trips/#{trip.id}/edit", :class => 'btn btn-default btn-xs' %>
    <%= link_to 'Destroy', "/trips/#{trip.id}", method: :delete, :class => 'btn btn-default btn-xs' %>
    </div>
    <br>

    </dl>
  <% end %>
 </div>
 </div>
</main>
