<div class="page-header">
  <h1>Trips</h1>
</div>

<p><a href="/trips/new" class="btn btn-primary">Add a New Trip</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Job</th>
      <th>Shift hours </th>
      <th>Starting odometer</th>
      <th>Ending odometer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.job_id %></td>
        <td><%= trip.shift_hours_ %></td>
        <td><%= trip.starting_odometer %></td>
        <td><%= trip.ending_odometer %></td>
        <td>
          <a href="/trips/<%= trip.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/trips/<%= trip.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_trip/<%= trip.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

