<header>
    <nav class="main-nav">
      <ul>
        <li class="nav-left">
          <a class ="back" href="/">Back</a>
        </li>
        <li class="nav-center">
          <h1 class="screen-title">
            Your Trips
          </h1>
        </li>
        <li>
         <a class="nav-right" href="#"></a>
        </li>
      </ul>
    </nav>
  </header>



<main>
 <div class="mainly">
  <h3 class="panel-title">Trips</h3>
  <% @trip.each do |trip| %>
   <dl>
    <dd class="shower"><p><strong><%= trip.miles %></strong>&nbsp;miles</strong>&nbsp;driven for <strong><%= trip.job.name %></strong></p></dd>
    <dd class="shower"><p><strong><%= trip.vehicle.make_model %></strong>&nbsp; saved $<strong><%= %></strong></p></dd>
    <br>

    <%= link_to 'Edit', "/trips/#{trip.id}/edit" %>
    <%= link_to 'Destroy', "/trips/#{trip.id}", method: :delete %>
    <br>

    </dl>
  <% end %>
 </div>
</main>
