<div id="wrapper">
 <header>
  <nav class="main-nav">
   <h2 class="screen-title text-center">Starting A New Drive</h2>
  </nav>
 </header>

  <main>
  <div class="col-md-6 col-md-offset-3 isotope-item">
  <div class="panel panel-default">


   <div class="panel-body">
    <%= form_tag "/trips" do %>

     <div class="form-group">
      <fieldset>
        <label for="company">
          What company are you driving for?
        </label>

        <select id="job" class="form-control" name="job_id" required>
          <% current_user.jobs.each do |job| %>
            <option value="<%= job.id %>"><%= job.name %></option>
          <% end %>
        </select>
      </fieldset>
     </div>

    <div class="form-group">
      <fieldset>
        <label for="shift">
          How long is your drive?
        </label>
        <div class="spacer-mic"></div>
        <input id="shift" class="" type="number" name="shift_hours" placeholder="Hours" required>
        :
        <input id="shift" class="" type="number" name="shift_minutes" placeholder="Minutes" required>
      </fieldset>
    </div>

     <div class="form-group">
      <fieldset>
        <label for="vehicle">
          Which vehicle are you driving?
        </label>

        <select id="vehicle" class="form-control" name="vehicle_id" required>
          <% current_user.vehicles.each do |vehicle| %>
            <option value="<%= vehicle.id %>"><%= vehicle.make_model %></option>
          <% end %>
        </select>
      </fieldset>
     </div>

     <div class="form-group">
      <fieldset>
        <label for="odometer">
          What's your starting odometer for this shift?
        </label>

        <input type="number" id="odometer" class="form-control" name="starting_odometer" type="number" placeholder="Enter your starting odometer" required/>
      </fieldset>
     </div>

      <fieldset class="formAction text-center">
        <input
          type="submit"
          value="Start Trip"
          class="btn btn-success" />
      </fieldset>
    <% end %>
   </div>
  </div>
  </div>
  </main>
</div>
