<div id="wrapper">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

   <div class="form-group">
        <fieldset class="col-md-6 col-md-offset-3">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, :placeholder => "Enter your account email", :class => 'form-control' %>
        </fieldset>
   </div>

   <div class="form-group">
        <fieldset class="col-md-6 col-md-offset-3">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", :placeholder => "Enter your password", :class => 'form-control' %>
        </fieldset>
   </div>

    <% if devise_mapping.rememberable? -%>
       <fieldset class="col-md-6 col-md-offset-3">
        <label>
          <%= f.check_box :remember_me %>
          Remember me
        </label>
       </fieldset>
      <% end -%>

      <fieldset class="formAction col-md-6 col-md-offset-3">
        <input
          type="submit"
          value="Sign in"
          class="btn btn-success btn-block" />
      </fieldset>

      <hr/>
      <div class="col-md-6 col-md-offset-3 text-center">
        <%= render "users/shared/links" %>
      </div>
<% end %>
</div>
