<div id="wrapper">

  <header>
    <nav class="main-nav">
      <ul>
        <li class="nav-left">
        </li>
        <li class="nav-center">
          <h1 class="screen-title">
            Tax Trax
          </h1>
        </li>
        <li class="nav-right">
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <fieldset>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, :placeholder => "Enter your account email" %>
      </fieldset>

      <fieldset>
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", :placeholder => "Enter your password" %>
      </fieldset>

      <% if devise_mapping.rememberable? -%>
       <fieldset>
        <label>
          <%= f.check_box :remember_me %>
          Remember me
        </label>
       </fieldset>
      <% end -%>

      <fieldset class="formAction">
        <input
          type="submit"
          value="Sign in"
          class="btn btn-success btn-block" />
      </fieldset>

      <hr/>

      <%= render "users/shared/links" %>
    <% end %>
  </main>
</div>
