<header>
 <nav class="main-nav">
  <h1 class="screen-title col-md-6 col-md-offset-5">Edit Job</h1>
 </nav>
</header>

<!-- Validation failure messages -->

<% if @job.errors.any? %>
  <% @job.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->
<main>
 <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"></h3>
      </div>
      <div class="panel-body text-center">
       <%= form_for @job, :html => { :class => "form-horizontal" } do |f| %>

          <!-- Label and input for name -->
          <div class="form-group">
            <%= f.label :name_of_the_company, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.text_field :name, placeholder: "Company Name, i.e. Pizza Place", class: "form-control" %>
            </div>
          </div>
          <br>

          <div class="form-group ">
           <%= f.label :industry, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
           <%= f.select :industry, [['Delivery','delivery'],['Transportation','transportation'],['Food service','food service']]%>
          </div>
          </div>
          <br>

          <div class="form-group">
            <%= f.label :Employment_Status, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.radio_button :employee, true%>
              <%= f.label :employee_true, "I'm a Employee" %>
              &nbsp;&nbsp;
              <%= f.radio_button :employee, false%>
              <%= f.label(:employee_false, "I'm a Independent Contractor") %>

            </div>
          </div>

          <div class="form-group">
            <%= f.label :how_many_miles_do_you_drive_to_work?, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.text_field :daily_commute, placeholder: "Your daily driving commute (one way)",:type => "number", class: "form-control" %>
            </div>
          </div>
          <br>

          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
              <%= f.submit class: "btn btn-success" %>
            </div>
         </div>
      <% end %>
    </div>
  </div>
 </div>
 </div>
</main>
