<h1 class="text-center">Your Jobs</h1>
<div class="text-center">
<% if current_user.jobs.count > 0 %>
 <a class="btn btn-success" href="/jobs/new">Add New Job</a>
<% end %>
</div>


<main>


 <% if current_user.jobs.count < 1 %>
   <div class="col-md-6 col-md-offset-3 text-center">
    <div class="panel panel-default text-center ">
    <div class="panel-heading"><h3 class="panel-title"></h3></div>
   <div id="triggerModal" class="modalDialog">
    <div class="text-center">
     <h3 class="panel-title"><a href="#triggerModal" title="Close" class="close"></a></h3>
     <h2 class="screen-title text-center">No job entered</h2>
     <h5 class="text-center">
       <a class="btn btn-success" href="/jobs/new">Add New Job</a>
     </h5>
    </div>
   </div>
    </div>
   </div>
   <% end %>


 <% if current_user.vehicles.count == 0 and current_user.jobs.count >= 1   %>
   <div class="col-md-6 col-md-offset-3 text-center">
    <div class="panel panel-default text-center ">
    <div class="panel-heading"><h3 class="panel-title"></h3></div>
   <div id="triggerModal" class="modalDialog">
    <div class="text-center">
     <h3 class="panel-title"><a href="#triggerModal" title="Close" class="close"></a></h3>
     <h2 class="screen-title text-center">No vehicle entered</h2>
     <h5 class="text-center">
       To continue your <strong>Tax Trax</strong> setup you still need enter a <%= link_to('vehicle', new_vehicle_path) %>
     </h5>
    </div>
   </div>
    </div>
   </div>
   <% end %>

 <% if current_user.vehicles.count >= 1 and current_user.jobs.count >= 1 and current_user.trips.count < 1  %>
   <div class="col-md-6 col-md-offset-3 text-center">
    <div class="panel panel-default text-center ">
    <div class="panel-heading"><h3 class="panel-title"></h3></div>
   <div id="triggerModal" class="modalDialog">
    <div class="text-center">
     <h3 class="panel-title"><a href="#triggerModal" title="Close" class="close"></a></h3>
     <h2 class="screen-title text-center">Ready to Drive</h2>
     <h5 class="text-center">
       Your <strong>Tax Trax</strong> setup is complete.
     </h5>
     <a id="NewTrip" class="btn btn-default btn-lg btn-success" href="/trips/new">&nbsp;&nbsp;&nbsp;+ Start Trip&nbsp;&nbsp;&nbsp;</a>
    </div>
   </div>
    </div>
   </div>
   <% end %>


   <div>
    <% @job.each do |job| %>

    <dl>
     <div class="col-md-4 panel-body">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"></h3>
          </div>

          <div class="panel-body">
              <dt>Company</dt>
              <dd class="shower"><%= job.name %></dd>
              <br>
              <dt>Industry</dt>
              <dd class="shower"><%= job.industry %></dd>
              <br>
              <dt>Daliy Commute</dt>
              <dd class="shower"><%= job.daily_commute %></dd>
              <br>

         <div class="text-center">
              <div class="btn-group btn-group-lg" role="group">
              <td><%= link_to 'Show',    "/jobs/#{job.id}", :class => 'btn btn-info btn-group btn-group-xs' %></td>
              <td><%= link_to 'Edit',    "/jobs/#{job.id}/edit", :class => 'btn btn-warning btn-group btn-group-xs' %></td>
              <td><%= link_to 'Destroy', "/jobs/#{job.id}", method: :delete, :class => 'btn btn-danger btn-group btn-group-xs' %></td>
              </div>
              </div>
              </div>

         </div>
     </div>
    </dl>

    <% end %>
</div>
</main>
