<h1 class="text-center">Your Jobs</h1>
<div class="text-center">
 <a class="btn btn-success" href="/jobs/new">Add New Job</a>
</div>


<main>

   <div>
    <% @job.each do |job| %>

    <dl>
     <div class="col-md-4 panel-body">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"></h3>
          </div>

          <div class="panel-body">
              <dt>Company</dt>
              <dd class="shower"><%= job.name %></dd>
              <br>
              <dt>Industry</dt>
              <dd class="shower"><%= job.industry %></dd>
              <br>
              <dt>Daliy Commute</dt>
              <dd class="shower"><%= job.daily_commute %></dd>
              <br>

         <div class="text-center">
              <div class="btn-group btn-group-lg" role="group">
              <td><%= link_to 'Show',    "/jobs/#{job.id}", :class => 'btn btn-info btn-group btn-group-xs' %></td>
              <td><%= link_to 'Edit',    "/jobs/#{job.id}/edit", :class => 'btn btn-warning btn-group btn-group-xs' %></td>
              <td><%= link_to 'Destroy', "/jobs/#{job.id}", method: :delete, :class => 'btn btn-danger btn-group btn-group-xs' %></td>
              </div>
              </div>
              </div>

         </div>
     </div>
    </dl>

    <% end %>
</div>
</main>
