<header>
  <nav class="main-nav">
    <ul>
      <li class="nav-left">
        <a class ="back" href="/">Back</a>
      </li>
      <li class="nav-center">
        <h1 class="screen-title">
          Your Jobs
        </h1>
      </li>
      <li>
        <a class="nav-right" href="/jobs/new">Add New Job</a>
      </li>
    </ul>
  </nav>
</header>
<main>
</main>

<main>
  <div class="row isotope-container">
    <% @job.each do |job| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Job</h3>
          </div>

          <div class="panel-body">
           <div class="form-group">
           <div class="col-sm-10">
            <dl>
              <dt>Company</dt>
              <dd class="shower"><%= job.name %></dd>
              <br>
              <dt>Industry</dt>
              <dd class="shower"><%= job.industry %></dd>
              <br>
              <dt>Daliy Commute</dt>
              <dd class="shower"><%= job.daily_commute %></dd>
              <br>
              <td><%= link_to 'Show',    "/jobs/#{job.id}" %></td>
              <td><%= link_to 'Edit',    "/jobs/#{job.id}/edit" %></td>
              <td><%= link_to 'Destroy', "/jobs/#{job.id}", method: :delete %></td>
            </dl>
           </div>
           </div>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</main>
