<header>
    <nav class="main-nav">
      <ul>
        <li class="nav-left">
          <a class ="back" href="/">Back</a>
        </li>
        <li class="nav-center">
          <h1 class="screen-title">
            Your Jobs
          </h1>
        </li>
        <a class="nav-right" href="/jobs/new">Add New Job</a>
      </ul>
    </nav>
  </header>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
       <th>Company</th>
       <th>Industry</th>
       <th>Daliy Commute</th>
       <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @jobs) do |job| %>
        <td><%= job.name %></td>
        <td><%= job.industry %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
