<header>
    <nav class="main-nav">
      <ul>
        <li class="nav-left">
          <a class ="back" href="/jobs/index">Cancel</a>
        </li>
        <li class="nav-center">
          <h1 class="screen-title">
            Add a new Job
          </h1>
        </li>
        <li class="nav-right"></li>
      </ul>
    </nav>
  </header>

<!-- Validation failure messages -->

<% if @job.errors.any? %>
  <% @job.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Job</h3>
      </div>
      <div class="panel-body">
        <%= form_tag jobs_url, :method => "post", :class => "form-horizontal" do %>

          <!-- Label and input for name -->
          <div class="form-group">
            <label for="name" class: "col-sm-2 control-label">
             Company Name
            </label>
            <div class="col-sm-10">
             <input type="text" id="name" name="name" palceholder="Enter Company Name" class="form-controll" value="<%= @job.name %>">
            </div>
          </div>

          <div class="form-group">
            <label for="industry" class: "col-sm-2 control-label">
             Job Industry
            </label>
            <div class="col-sm-10">
             <input type="text" id="industry" name="industry" palceholder="Enter Job Industry" class="form-controll" value="<%= @industry.name %>">
            </div>
          </div>

          <div class="form-group">
            <label for="daily_commute" class: "col-sm-2 control-label">
             Daily Commute to work
            </label>
            <div class="col-sm-10">
             <input type="text" id="daily_commute" name="daily_commute" palceholder="Enter daily commute distance" class="form-controll" value="<%= @daily_commute.name %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="Add Job" class "btn btn-success">
              or
              <a href="/jobs/index">Cancel</a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
