<header>
      <nav class="main-nav">
        <ul>
          <li class="nav-left">
            <a href="/">Main Menu</a>
          </li>
          <li class="nav-center">
            <h1 class="screen-title">
              Calculated 2106
            </h1>
          </li>
          <li class="nav-right">
           <%= link_to 'Edit', edit_filing_path(@filing) %>
          </li>
        </ul>
      </nav>
</header>

<div id="topper">
<p>
  <strong>Average daily commute:</strong>
  <%= @filing.average_daily_commute %>
</p>

<h2>
  <strong>User:</strong>
  <%= current_user.first_name %>
</h2>

<% current_user.vehicles.each do |vehicle| %>
  <h3><%= vehicle.make_model %></h3>
  <h4>Starting: <%= vehicle.starting_odometer %></h4>
  <h4>Year Ending: <%= vehicle.year_ending_odometer(@filing.for_year) %></h4>


  <h2>Logged Trips for the Year:</h2>

  <table>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Starting Odometer</th>
      <th>Ending Odometer</th>
      <th>Trip Miles</th>
      <th>Job</th>
      <th>Job Distance</th>
    </tr>
  <% vehicle.trips_for_year(@filing.for_year).each do |trip| %>
    <tr>
      <td><%= trip.id %></td>
      <td><%= trip.created_at %></td>
      <td><%= trip.starting_odometer %></td>
      <td><%= trip.ending_odometer %></td>
      <td><%= trip.miles %></td>
      <td><%= trip.job.name %></td>
      <td><%= trip.job.daily_commute %></td>
    </tr>
  <% end %>
  </table>
  </div>

<h2>Calculated 2106 Section A:</h2>
  <main>
     <table>
  <tr>
    <th>Section A-General Information (You must complete this section if you are calming vehicle expenses.)</th>
    <td></td>
    <th>(a) Vehicle</th>
    <th>(b) Vehicle</th>
  </tr>
  <tr>
    <td>11. Enter the date the vehicle was placed in service</td>
    <td>11</td>
    <td><%= vehicle.service_start_date %></td>
    <td></td>
  </tr>
  <tr>
    <td>12. Total miles vehicle was driven during <%= @filing.for_year %></td>
    <td>12</td>
    <td><%= vehicle.total_miles(@filing.for_year) %></td>
    <td></td>
  </tr>
  <tr>
    <td>13. Business miles included on line 12</td>
    <td>13</td>
    <td><%= vehicle.business_miles(@filing.for_year) %></td>
    <td></td>
  </tr>
  <tr>
    <td>14. Percent of business use. Divide line 13 by line 12</td>
    <td>14</td>
    <td><%= vehicle.percent_business_use(@filing.for_year) %></td>
    <td></td>
  </tr>
  <tr>
    <td>15. Average daily roundtrip commuting distance</td>
    <td>15</td>
    <td><%= vehicle.average_daily_commute(@filing.for_year) %></td>
    <td></td>
  </tr>
  <tr>
    <td>16. Commuting miles included on line 12</td>
    <td>16</td>
    <td><%= vehicle.commuting_miles(@filing.for_year) %></td>
    <td></td>
  </tr>
  <tr>
    <td>17. Other miles. Add lines 13 and 16 and subtract the total from line 12</td>
    <td>17</td>
    <td><%= vehicle.other_miles(@filing.for_year) %></td>
    <td></td>
  </tr>
  <tr>
    <td>18. Was your vehicle available for personal use during off-duty hours?</td>
    <td></td>
    <td><%= @filing.personal_use_off_duty %></td>
  </tr>
  <tr>
    <td>19. Do you or your spouce have another vehicle availble for personal use?</td>
    <td></td>
    <td><%= @filing.another_vehicle_personal %></td>
  </tr>
  <tr>
    <td>20. Do you have evidence to support your deduction?</td>
    <td></td>
    <td><%= @filing.has_evidence %></td>
  </tr>
  <tr>
    <td>21. If "Yes", is the evidence written?</td>
    <td></td>
    <td><%= @filing.written_evidence %></td>
  </tr>
  <tr>
  <th>Section B -Standard Mileage Rate</th>
  </tr>
  <tr>
  <td>22. Multiply line 13 by .56 cents(.56)</td>
  <td></td>
  <td>24.64<td>
  </tr>
</table>
</main>
<% end %>



