<h2>You told us:</h2>

<p>
  <strong>Average daily commute:</strong>
  <%= @filing.average_daily_commute %>
</p>

<p>
  <strong>Personal use off duty:</strong>
  <%= @filing.personal_use_off_duty %>
</p>

<p>
  <strong>Another vehicle personal:</strong>
  <%= @filing.another_vehicle_personal %>
</p>

<p>
  <strong>Has evidence:</strong>
  <%= @filing.has_evidence %>
</p>

<p>
  <strong>Written evidence:</strong>
  <%= @filing.written_evidence %>
</p>

<p>
  <strong>User:</strong>
  <%= @filing.user_id %>
</p>

<p>
  <strong>For year:</strong>
  <%= @filing.for_year %>
</p>

<%= link_to 'Edit', edit_filing_path(@filing) %> |
<%= link_to 'Back', filings_path %>

<% current_user.vehicles.each do |vehicle| %>
  <h1><%= vehicle.make_model %></h1>
  <h2>Starting: <%= vehicle.starting_odometer %></h2>
  <h2>Year Ending: <%= vehicle_year_ending_odometer = vehicle.year_ending_odometers.find_by(:year => @filing.for_year).reading %></h2>


  <h2>And the trips you logged were:</h2>

  <table>
    <tr>
      <th>ID</th>
      <th>Starting Odometer</th>
      <th>Ending Odometer</th>
      <th>Trip Miles</th>
      <th>Grand Total Trip Miles</th>
    </tr>
  <% total_trip_miles = 0 %>
  <% vehicle.trips.each do |trip| %>
    <tr>
      <td><%= trip.id %></td>
      <td><%= trip.starting_odometer %></td>
      <td><%= trip.ending_odometer %></td>
      <td><%= trip.ending_odometer - trip.starting_odometer %></td>
      <td><%= total_trip_miles = total_trip_miles + (trip.ending_odometer - trip.starting_odometer) %></td>
    </tr>
  <% end %>
  </table>

  <h2>So, we calculate:</h2>

  <dl>
    <dt>Date placed in service (date of oldest trip):</dt>
    <!-- TODO: scope this down to year of filing -->
    <dd><%= @filing.user.trips.order("created_at ASC").first.created_at.strftime('%Y') %></dd>

    <dt>Total miles vehicle was driven</dt>
    <!-- TODO: switch Vehicle starting_odometer column datatype to integer///- - @filing.user.vehicles  -->
    <dd><%= total_miles_driven = vehicle_year_ending_odometer - vehicle.starting_odometer.to_i %></dd>

    <!-- first car starting: <%= @filing.user.vehicles.first.starting_odometer.to_i %> -->

    <dt>Business miles included in total miles</dt>
    <dd><%= total_trip_miles %></dd>

    <dt>Commuting miles included in total miles</dt>
    <dd><%= commuting_miles = @filing.user.trips.count * @filing.average_daily_commute %></dd>

    <dt>Other miles</dt>
    <dd><%= total_miles_driven - (total_trip_miles + commuting_miles) %></dd>

  </dl>
<% end %>



