<%= form_for(@year_ending_odometer) do |f| %>
  <% if @year_ending_odometer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@year_ending_odometer.errors.count, "error") %> prohibited this year_ending_odometer from being saved:</h2>

      <ul>
      <% @year_ending_odometer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :reading %><br>
    <%= f.number_field :reading %>
  </div>
  <div class="field">
    <%= f.label :vehicle_id %><br>
    <%= f.collection_select :vehicle_id, current_user.vehicles, :id, :make_model %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
