<header>
    <nav class="main-nav">
      <ul>
        <li class="nav-left">
          <a class ="back" href="/">Back</a>
        </li>
        <li class="nav-center">
          <h1 class="screen-title">
            Your Vehicles
          </h1>
        </li>
        <li>
         <a class="nav-right" href="/vehicles/new">Add New Vehicle</a>
        </li>
      </ul>
    </nav>
  </header>

<main>
<div class="row isotope-container">
<% @vehicles.each do |vehicle| %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Vehicle</h3>
      </div>
      <div class="panel-body">
        <dl>

          <dt>Make & Model</dt>
          <dd class="shower"><%= vehicle.make_model %></dd>
          <br>
          <dt>Year</dd>
          <dd class="shower"><%= vehicle.year %></dd>
          <br>
          <dt>Starting Odometer</dd>
          <dd class="shower"><%= vehicle.starting_odometer %></dd>
          <br>
          <dt>Personal usage</dd>
          <dd class="shower"><%= vehicle.personal_usage %></dd>
          <br>

          <td><%= link_to 'Show', "/vehicles/#{vehicle.id}" %></td>
          <td><%= link_to 'Edit', "/vehicles/#{vehicle.id}/edit" %></td>
          <td><%= link_to 'Destroy', "/vehicles/#{vehicle.id}", method: :delete %></td>

        </dl>
        <div class="btn-group btn-group-justified">
        </div>
<% end %>
   </div>
  </div>
 </div>
</div>
</main>
