<header>
    <nav class="main-nav">
     <h1 class="screen-title col-md-6 col-md-offset-3">Your Vehicles</h1>
     <a class="nav-right btn btn-group-xs" href="/vehicles/new">Add New Vehicle</a>
    </nav>
  </header>

<main>
<div class="row isotope-container">
<% @vehicles.each do |vehicle| %>
  <div class="col-md-6 col-md-offset-3 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Vehicle</h3>
      </div>
      <div class="panel-body">
        <dl>

          <dt>Make & Model</dt>
          <dd class="shower"><%= vehicle.make_model %></dd>
          <br>
          <dt>Year</dd>
          <dd class="shower"><%= vehicle.year %></dd>
          <br>
          <dt>Starting Odometer</dd>
          <dd class="shower"><%= vehicle.starting_odometer %></dd>
          <br>
          <dt>Personal usage</dd>
          <dd class="shower"><%= vehicle.personal_usage %></dd>
          <br>

          <div class="btn-group btn-group-lg" role="group">
          <td><%= link_to 'Show', "/vehicles/#{vehicle.id}", :class => 'btn btn-group btn-group-xs' %></td>
          <td><%= link_to 'Edit', "/vehicles/#{vehicle.id}/edit", :class => 'btn btn-group btn-group-xs' %></td>
          <td><%= link_to 'Destroy', "/vehicles/#{vehicle.id}", method: :delete, :class => 'btn btn-group btn-group-xs' %></td>
          </div>

        </dl>
        <div class="btn-group btn-group-justified">
        </div>
<% end %>
   </div>
  </div>
 </div>
</div>
</main>
