<header>
    <nav class="main-nav">
      <ul>
        <li class="nav-left">
          <a class ="back" href="/">Back</a>
        </li>
        <li class="nav-center">
          <h1 class="screen-title">
            Your Vehicles
          </h1>
        </li>
        <li>
         <a class="nav-right" href="/vehicles/new">Add New Vehicle</a>
        </li>
      </ul>
    </nav>
  </header>

<div class="row isotope-container">
<% @vehicle.each do |vehicle| %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Vehicle #<%= '#{vehicle.id}' %></h3>
      </div>
      <div class="panel-body">
        <dl>

          <dt>Make</dt>
          <dd><%= vehicle.make %></dd>

          <dt>Model</dt>
          <dd><%= vehicle.cmodel %></dd>

          <dt>Year</dt>
          <dd><%= vehicle.year %></dd>

          <dt>Starting Odometer</dt>
          <dd><%= vehicle.starting_odometer %></dd>

          <dt>Personal usage</dt>
          <dd><%= vehicle.personal_usage %></dd>

          <td><%= link_to 'Show', "/vehicles/#{vehicle.id}" %></td>
          <td><%= link_to 'Edit', edit_vehicle_url(vehicle) %></td>
          <td><%= link_to 'Destroy', "/vehicles/#{vehicle.id}", method: :delete %></td>

        </dl>
        <div class="btn-group btn-group-justified">
        </div>
<% end %>
