<header>
 <nav class="main-nav">
 <h1 class="screen-title col-md-6 col-md-offset-4">Add a new Vehicle</h1>
 </nav>
</header>

<!-- Validation failure messages -->

<% if @vehicle.errors.any? %>
  <% @vehicle.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


<!-- Responsive panel example -->
<main>
<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
      </div>
      <div class="panel-body">
        <%= form_for @vehicle, :html => { :class => "form-horizontal" } do |f| %>

          <!-- Label and input for make and model of the car -->
          <div class="form-group">
            <%= f.label :the_make_and_model_of_your_car, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.text_field :make_model, placeholder: "Car Type, i.e. Toyota RAV 4", class: "form-control" %>
            </div>
          </div>
          <br>

          <!-- Label and input for bio -->
          <div class="form-group">
            <%= f.label :model_year, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.text_field :year, placeholder: "Year of the Model, i.e. 2007", class: "form-control",:type => "tel" %>
            </div>
          </div>
          <br>

          <div class="form-group">
            <%= f.label :odometer_reading_at_work_start_date, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.text_field :starting_odometer, placeholder: "Car's Starting Odometer, i.e. 10000", :type => "tel", class: "form-control" %>
            </div>
          </div>
          <br>

          <div class="form-group">
            <%= f.label :will_you_use_it_outside_of_work?, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.radio_button :personal_usage, true%>
              <%= f.label :personal_usage_true, "Yes it's my personal car." %>
              <%= f.radio_button :personal_usage, false%>
              <%= f.label(:personal_usage_false, "No it's strictly a work car") %>
            </div>
          </div>
          <br>

          <div class="form-group">
            <div class="text-center">
              <%= f.submit class: "btn btn-success" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</main>

