<header>
    <nav class="main-nav">
      <ul>
        <li class="nav-left">
          <a class ="back" href="/vehicles">Back</a>
        </li>
        <li class="nav-center">
          <h1 class="screen-title">
            Vehicle <%= @vehicle.id %>
          </h1>
        </li>
        <li>
         <a class="nav-right"></a>
        </li>
      </ul>
    </nav>
  </header>

<main>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"></h3>
      </div>
      <div class="panel-body">
        <dl>

          <dt>Make & Model</dt>
          <dd><%= @vehicle.make_model %></dd>

          <dt>Year</dt>
          <dd><%= @vehicle.year %></dd>

          <dt>Starting Odometer</dt>
          <dd><%= @vehicle.starting_odometer %></dd>

          <dt>Personal usage</dt>
          <dd><%= @vehicle.personal_usage %></dd>

          <dt>Year Ending Odometer Readings</dt>
          <dd>
            <table>
              <tr>
                <th>Year</th>
                <th>Reading</th>
              </tr>
              <% @vehicle.year_ending_odometers.order("year ASC").each do |year_ending_odometer| %>
              <tr>
                <td><%= year_ending_odometer.year %></td>
                <td><%= year_ending_odometer.reading %></td>
              </tr>
              <% end %>
            </table>
            <%= form_for YearEndingOdometer.new(:vehicle => @vehicle) do |f| %>
              <%= f.hidden_field :vehicle_id %>
              <%= f.label :year %>
              <%= f.number_field :year, :placeholder => "What year?" %>
              <%= f.label :reading %>
              <%= f.number_field :reading, :placeholder => "What is the reading?" %>
              <%= f.submit %>
            <% end %>
          </dd>

        </dl>
        <div class="btn-group btn-group-justified">
        </div>
</main>
