<header>
    <nav class="main-nav">
     <h1 class="screen-title col-md-6 col-md-offset-3">Vehicle</h1>
    </nav>
  </header>

<main>
<div class="col-md-6 col-md-offset-3 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"></h3>
      </div>
      <div class="panel-body">
        <dl>

          <dt>Make & Model</dt>
          <dd class="shower"><%= @vehicle.make_model %></dd>
          <br>
          <dt>Year</dt>
          <dd class="shower"><%= @vehicle.year %></dd>
          <br>
          <dt>Starting Odometer</dt>
          <dd class="shower"><%= @vehicle.starting_odometer %></dd>
          <br>
          <dt>Personal usage</dt>
          <dd class="shower"><%= @vehicle.personal_usage %></dd>
          <br>
          <dt>Year Ending Odometer Readings</dt>
          <dd class="shower">
            <table>
              <tr>
                <th>Year</th>
                <th>Reading</th>
                <br>
              </tr>
              <% @vehicle.year_ending_odometers.order("year ASC").each do |year_ending_odometer| %>
              <tr>
                <td><%= year_ending_odometer.year %></td>
                <td><%= year_ending_odometer.reading %></td>
              </tr>
              <% end %>
            </table>

            <div class="form-group">
            <%= form_for YearEndingOdometer.new(:vehicle => @vehicle) do |f| %>
              <%= f.hidden_field :vehicle_id %>
              <br>
              <%= f.label :year %>
              <%= f.number_field :year, :placeholder => "What year?" %>
              <br>
              <%= f.label :reading %>
              <%= f.number_field :reading, :placeholder => "What is the reading?" %>
              <%= f.submit %>
            <% end %>
          </dd>

          </div>
        </dl>
        <div class="btn btn-success btn-group-justified">
        </div>
</main>
