<div id="wrapper">

  <header>
    <nav class="main-nav">
      <ul>
        <li class="nav-left">
          <a class ="back" href="/">Back</a>
        </li>
        <li class="nav-center">
          <h1 class="screen-title">
            Sign up
          </h1>
        </li>
        <li class="nav-right">
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <fieldset>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </fieldset>

      <fieldset>
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </fieldset>

      <fieldset>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, :placeholder => "Enter your email address" %>
      </fieldset>

      <fieldset>
        <%= f.label :password %>
        <%= f.password_field :password,
              autocomplete: "off",
              :placeholder => "8 characters minimum" %>
      </fieldset>

     <fieldset>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation,
            autocomplete: "off",
            :placeholder => "Confirm Password"  %>
     </fieldset>

      <fieldset class="formAction">
        <%= f.submit "Sign up", class: "btn btn-success btn-block" %>
      </fieldset>
    <% end %>

    <hr/>

    <p>
      Want to know how Tax Trax can
      start helping you today? <a href="#">About Us</a>
    </p>

    <p>
      Want to get a hold of us? <a href="#">Contact Us</a>
    </p>
  </main>
</div>




